In [1]:
import pandas as pd

«Определить, какие товарные категории и подкатегории на сайте представлены в поисковиках хуже всего»

In [14]:
data = pd.read_excel('seo_data.xlsx',sheet_name='traffic_data')

In [15]:
display(data.info())
data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB

None

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651
5     88c78ea685  direct   39638.202995
6     179bfacf4a  direct   31007.471245
7     b0fb8f259a  direct   30324.097324
8     3c67eb2d90  direct   25878.814329
9     24e6c815c6  direct   25276.373358

In [16]:
data['source'].unique()

array(['direct', 'organic'], dtype=object)

In [17]:
subcategory_dict = pd.read_excel('seo_data.xlsx',sheet_name= 'subcategory_ids')

In [18]:
subcategory_dict.head(10)

  subcategory_id                subcategory_name category_id
0     cf2e61c7af              Мобильные телефоны  09f279a643
1     0cd903d1cc                        Ноутбуки  3509869a61
2     ef35bc88a7                      Телевизоры  09f279a643
3     6ff9f4014c                        Планшеты  3509869a61
4     72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643
5     88c78ea685                            Шины  65922fa39c
6     179bfacf4a           Умные часы и браслеты  09f279a643
7     b0fb8f259a                        Мониторы  3509869a61
8     3c67eb2d90                   Наручные часы  6074ad29ac
9     24e6c815c6  Лекарственные препараты и БАДы  10a493e03b

In [19]:
category_dict = pd.read_excel('seo_data.xlsx',sheet_name= 'category_ids')

In [20]:
category_dict.head(10)

  category_id               category_name
0  09f279a643                 Электроника
1  3509869a61        Компьютерная техника
2  65922fa39c                        Авто
3  6074ad29ac  Одежда, обувь и аксессуары
4  10a493e03b         Товары для здоровья
5  5a0d8ac946             Бытовая техника
6  7dbac4c1a3              Детские товары
7  ae99947659               Спорт и отдых
8  655ccc3c49          Товары для красоты
9  394f20d8fa      Строительство и ремонт

In [23]:
print(data.groupby('source')['source'].count())

source
direct     965
organic    965
Name: source, dtype: int64

In [24]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB
None