In [17]:
import pandas as pd

[Перевод строковых значений в числа](#str_to_num)

[Методы Pandas для работы с датой и временем](#D_T)

[Обработка ошибок try-except](#try_except)

[Сводные таблицы](#pivot_table)

[Лаборатория ручного поиска дубликатов](#dupl)

«Определить, какие товарные категории и подкатегории на сайте представлены в поисковиках хуже всего»

In [18]:
data = pd.read_excel('seo_data.xlsx',sheet_name='traffic_data')

In [19]:
display(data.info())
data.tail(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB

None

     subcategory_id   source     visits
1920     657ad4152e  organic  24.748969
1921     ee2093ef96  organic  24.468693
1922     94f5224c98  organic  24.433584
1923     3f7f42af50  organic  21.544606
1924     779e246861  organic  15.813045
1925     c51343bf77  organic  15.640773
1926     d942687638  organic   13.87554
1927     976642886f  organic   9.204211
1928     075994491e  organic   4.606261
1929          total  organic  "5687882"

In [20]:
data['source'].unique()

array(['direct', 'organic'], dtype=object)

In [21]:
subcategory_dict = pd.read_excel('seo_data.xlsx',sheet_name= 'subcategory_ids')

In [22]:
subcategory_dict.head(10)

  subcategory_id                subcategory_name category_id
0     cf2e61c7af              Мобильные телефоны  09f279a643
1     0cd903d1cc                        Ноутбуки  3509869a61
2     ef35bc88a7                      Телевизоры  09f279a643
3     6ff9f4014c                        Планшеты  3509869a61
4     72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643
5     88c78ea685                            Шины  65922fa39c
6     179bfacf4a           Умные часы и браслеты  09f279a643
7     b0fb8f259a                        Мониторы  3509869a61
8     3c67eb2d90                   Наручные часы  6074ad29ac
9     24e6c815c6  Лекарственные препараты и БАДы  10a493e03b

In [23]:
category_dict = pd.read_excel('seo_data.xlsx',sheet_name= 'category_ids')

In [24]:
category_dict.head(10)

  category_id               category_name
0  09f279a643                 Электроника
1  3509869a61        Компьютерная техника
2  65922fa39c                        Авто
3  6074ad29ac  Одежда, обувь и аксессуары
4  10a493e03b         Товары для здоровья
5  5a0d8ac946             Бытовая техника
6  7dbac4c1a3              Детские товары
7  ae99947659               Спорт и отдых
8  655ccc3c49          Товары для красоты
9  394f20d8fa      Строительство и ремонт

In [25]:
print(data.groupby('source')['source'].count())

source
direct     965
organic    965
Name: source, dtype: int64

In [26]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB
None

Объединим несколько таблиц в одну методом merge(). Передавая тот или иной аргумент методу merge(), можно по-разному объединять таблицы. Подробнее об этом будет рассказано в следующем спринте.
merge() применяют к таблице, к которой присоединяют другую. У метода следующие аргументы:
right — имя DataFrame или Series, присоединяемого к исходной таблице.
on — название общего списка в двух соединяемых таблицах: по нему происходит слияние.
how — чьи id включать в итоговую таблицу. Аргумент how может принять значение left: тогда в итоговую таблицу будут включены id из левой таблицы. Аргумент right включает id из правой таблицы.

In [27]:
#Объедините самостоятельно таблицы из переменных subcategory_dict и data. Результат сохраните в переменной data_subcategory
data_subcategory = data.merge(subcategory_dict,on='subcategory_id',how='left')

In [28]:
data_subcategory

,subcategory_id,source,visits,subcategory_name,category_id
0,cf2e61c7af,direct,501165.668858,Мобильные телефоны,09f279a643
1,0cd903d1cc,direct,126342.359505,Ноутбуки,3509869a61
2,ef35bc88a7,direct,95626.321402,Телевизоры,09f279a643
3,6ff9f4014c,direct,75680.653002,Планшеты,3509869a61
4,72bc238e4d,direct,64435.934651,Наушники и Bluetooth-гарнитуры,09f279a643
...,...,...,...,...,...
1925,c51343bf77,organic,15.640773,Свитеры и кардиганы,6074ad29ac
1926,d942687638,organic,13.87554,Термобелье,6074ad29ac
1927,976642886f,organic,9.204211,"Наклейки, шильдики и значки",65922fa39c
1928,075994491e,organic,4.606261,Гигиена полости рта,7dbac4c1a3
1929,total,organic,"""5687882""",NaN,NaN

In [29]:
#Объедините таблицы из переменных data_subcategory и category_dict.
#Результат сохраните в переменной data_final
data_final = data_subcategory.merge(category_dict,on='category_id',how='left')

In [30]:
data_final

,subcategory_id,source,visits,subcategory_name,category_id,category_name
0,cf2e61c7af,direct,501165.668858,Мобильные телефоны,09f279a643,Электроника
1,0cd903d1cc,direct,126342.359505,Ноутбуки,3509869a61,Компьютерная техника
2,ef35bc88a7,direct,95626.321402,Телевизоры,09f279a643,Электроника
3,6ff9f4014c,direct,75680.653002,Планшеты,3509869a61,Компьютерная техника
4,72bc238e4d,direct,64435.934651,Наушники и Bluetooth-гарнитуры,09f279a643,Электроника
...,...,...,...,...,...,...
1925,c51343bf77,organic,15.640773,Свитеры и кардиганы,6074ad29ac,"Одежда, обувь и аксессуары"
1926,d942687638,organic,13.87554,Термобелье,6074ad29ac,"Одежда, обувь и аксессуары"
1927,976642886f,organic,9.204211,"Наклейки, шильдики и значки",65922fa39c,Авто
1928,075994491e,organic,4.606261,Гигиена полости рта,7dbac4c1a3,Детские товары
1929,total,organic,"""5687882""",NaN,NaN,NaN

## Перевод строковых значений в числа
<a id='str_to_num'></a>

In [31]:
transactions = pd.read_excel('ids.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'ids.xlsx'

In [ ]:
display(transactions['category'].unique())
transactions.head()

In [32]:
transactions.info()

NameError: name 'transactions' is not defined



































transactions['amount'] = pd.to_numeric(transactions['amount']) 


У метода to_numeric() есть параметр errors. От значений, принимаемых errors, зависят действия to_numeric при встрече с некорректным значением:
`errors='raise' — дефолтное поведение: при встрече с некорректным значением выдаётся ошибка, операция перевода в числа прерывается;


`errors='coerce' — некорректные значения принудительно заменяются на NaN;


`errors='ignore' — некорректные значения игнорируются, но остаются.


transactions['amount'] = pd.to_numeric(transactions['amount'], errors='coerce') 
Методом to_numeric() мы не только превратим строки в числовой тип там, где это возможно, но и выясним, на каких значениях метод не работает.
Особенность метода to_numeric() в том, что при переводе все числа будут иметь тип данных float. Это подходит далеко не всем значениям. Но есть и хорошие новости: в нужный тип значения переводят методом astype(). Например, аргумент ('int') метода astype() означает, что значение нужно перевести в целое число:

In [33]:
transactions['id'] = pd.to_numeric(transactions['id'],errors='coerce')

NameError: name 'transactions' is not defined

In [34]:
transactions['id'].tail(5)

NameError: name 'transactions' is not defined

In [35]:
transactions.info()

NameError: name 'transactions' is not defined

In [36]:
transactions['amount'] = pd.to_numeric(transactions['amount'],errors='coerce')

NameError: name 'transactions' is not defined

In [37]:
transactions.info()

NameError: name 'transactions' is not defined

In [38]:
transactions['amount'].sum()

NameError: name 'transactions' is not defined


Рассчитайте сумму продаж для каждой категории и сохраните в переменной transactions_per_category. Для этого сгруппируйте датафрейм transactions по столбцу category и примените метод sum() к столбцу amount. Выведите результат на экран.

In [39]:
 transactions_per_category = transactions.groupby('category')['amount'].sum()

NameError: name 'transactions' is not defined

In [40]:
print(transactions_per_category)

NameError: name 'transactions_per_category' is not defined

In [41]:
data

     subcategory_id   source         visits
0        cf2e61c7af   direct  501165.668858
1        0cd903d1cc   direct  126342.359505
2        ef35bc88a7   direct   95626.321402
3        6ff9f4014c   direct   75680.653002
4        72bc238e4d   direct   64435.934651
...             ...      ...            ...
1925     c51343bf77  organic      15.640773
1926     d942687638  organic       13.87554
1927     976642886f  organic       9.204211
1928     075994491e  organic       4.606261
1929          total  organic      "5687882"

[1930 rows x 3 columns]

In [42]:
pd.to_numeric(data['visits'])

ValueError: Unable to parse string ""2369468"" at position 964

In [ ]:
data.loc[964]

In [43]:
data[data['subcategory_id']=='total']

     subcategory_id   source     visits
964           total   direct  "2369468"
1929          total  organic  "5687882"

In [44]:
data = data[data['subcategory_id']!='total']

In [45]:
data[data['subcategory_id']=='total']

Empty DataFrame
Columns: [subcategory_id, source, visits]
Index: []

In [46]:
data['visits'] = data['visits'].astype('int')

C:\Users\Admin\AppData\Local\Temp\ipykernel_15048\4179413987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['visits'] = data['visits'].astype('int')

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928 entries, 0 to 1928
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1928 non-null   object
 1   source          1928 non-null   object
 2   visits          1928 non-null   int32
dtypes: int32(1), object(2)
memory usage: 52.7+ KB

In [48]:
data.groupby('source')['visits'].sum()

source
direct     2368980
organic    5687407
Name: visits, dtype: int32

## Методы Pandas для работы с датой и временем
<a id='D_T'></a>

Вне зависимости от способа записи, дату и время нужно вводить в арифметические операции. Для этого в Python существует особый тип данных — datetime.

Методом to_datetime() превратим содержимое этого столбца в понятные для Python даты.
Для этого строку форматируют, обращаясь к специальной системе обозначений, где:

%d — день месяца (от 01 до 31)

%m — номер месяца (от 01 до 12)

%Y — четырёхзначный номер года (например, 2019)

Z — стандартный разделитель даты и времени

%H — номер часа в 24-часовом формате

%I — номер часа в 12-часовом формате

%M — минуты (от 00 до 59)

%S — секунды (от 00 до 59)

Преобразуем формат даты 01.04.2019Z11:03:00 из первой строчки датафрейма:


Сначала номер дня месяца. В соответствии с таблицей форматов заменяем его на %d:
%d.04.2019Z11:03:00


Далее точка (ее оставляем без изменений), потом номер месяца: %m: %d.%m.2019Z11:03:00


После четырёхзначный номер года, заменяем 2019 на %Y: %d.%m.%YZ11:03:00


Букву Z оставляем без изменений: %d.%m.%YZ11:03:00
Номер часа в 24-часовом формате заменим на %H: %d.%m.%YZ%H:03:00
Количество минут обозначим %M: %d.%m.%YZ%H:%M:00
Завершим форматирование обозначением секунд %S: %d.%m.%YZ%H:%M:%S

## arrivals['date_datetime'] = pd.to_datetime(arrivals['date'], format='%d.%m.%YZ%H:%M:%S')
## print(arrivals.head())

А у значений столбца '*target_time*' другой способ записи даты: 2019-04-01Z11:00:00. Значит, и в аргументе format сохраним другое выражение: '%Y-%m-%dZ%H:%M:%S':


## arrivals['target_datetime'] = pd.to_datetime(
##    arrivals['target_time'], format='%Y-%m-%dZ%H:%M:%S')

In [49]:
position = pd.read_csv('position.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'position.csv'

In [ ]:
position.head(15)

In [ ]:
position.info()

In [ ]:
position['timestamp'] = pd.to_datetime(position['timestamp'],format='%Y-%m-%dT%H:%M:%S')

In [ ]:
position.info()

In [ ]:
position.sort_values(by = 'level',ascending=False)

In [50]:
position['month'] = pd.DatetimeIndex(position['timestamp']).month

NameError: name 'position' is not defined

In [51]:
position.head()

NameError: name 'position' is not defined

In [52]:
position.groupby('month')['level'].mean()

NameError: name 'position' is not defined

## Обработка ошибок: try-except
<a id='try_except'></a>

In [53]:
position = [
    ['2019-05-01', '6'],
    ['2019-05-02', '5'],
    ['2019-05-03', '5'],
    ['2019-05-04', '4'],
    ['2019-05-05', '5'],
    ['2019-05-06', '5'],
    ['2019-05-07', '4'],
    ['2019-05-08', '4'],
    ['2019-05-09', '3'],
    ['2019-05-10', '3'],
]

In [54]:
count_lines = 0
total_position = 0

In [55]:
for row in position:
    count_lines += 1
    level = int(row[1]) #в этой переменной сохраните позицию в выдаче 
    total_position += level#сложите все позиции в этой переменной

In [56]:
print(total_position/count_lines)

4.4

Формат выгрузки часто согласуют заранее: это помогает избежать проблем с некорректными данными. Вот и вам разработчики прислали формат на согласование: позиция сайта в выдаче на конкретную дату.
Напишите цикл, подсчитывающий количество строк в данных. Результат выведите на экран.

In [57]:
position = [
    ['2019-05-01', '- 6'],
    ['2019-05-02', '+5'],
    ['2019-05-03', ' 5'],
    ['2019-05-04', '4'],
    ['2019-05-05', '5'],
    ['2019-05-06', '5'],
    ['2019-05-07', '4'],
    ['2019-05-08', 'Error 5'],
    ['2019-05-09', '3'],
    ['2019-05-10', '3'],
]
count_lines = 0
total_position = 0

for row in position:
    count_lines += 1
    level = int(row[1]) #в этой переменной сохраните позицию в выдаче 
    total_position += level #сложите все позиции в этой переменной

ValueError: invalid literal for int() with base 10: '- 6'

In [58]:
print(total_position/count_lines)

0.0

In [59]:
int(+1)

1

In [60]:
position = [
    ['2019-05-01', '- 6'],
    ['2019-05-02', '+5'],
    ['2019-05-03', ' 5'],
    ['2019-05-04', '4'],
    ['2019-05-05', '5'],
    ['2019-05-06', '5'],
    ['2019-05-07', '4'],
    ['2019-05-08', 'Error 5'],
    ['2019-05-09', '3'],
    ['2019-05-10', '3'],
]


count_lines = 0
wrong_lines_content = []

for row in position:
    count_lines+=1
    try:
        level = int(row[1])
        
    except:
        wrong_lines_content.append(row)
print('Количество измерений', count_lines)
print('Некорректные строки', wrong_lines_content)

Количество измерений 10
Некорректные строки [['2019-05-01', '- 6'], ['2019-05-08', 'Error 5']]

In [61]:
data_final

,subcategory_id,source,visits,subcategory_name,category_id,category_name
0,cf2e61c7af,direct,501165.668858,Мобильные телефоны,09f279a643,Электроника
1,0cd903d1cc,direct,126342.359505,Ноутбуки,3509869a61,Компьютерная техника
2,ef35bc88a7,direct,95626.321402,Телевизоры,09f279a643,Электроника
3,6ff9f4014c,direct,75680.653002,Планшеты,3509869a61,Компьютерная техника
4,72bc238e4d,direct,64435.934651,Наушники и Bluetooth-гарнитуры,09f279a643,Электроника
...,...,...,...,...,...,...
1925,c51343bf77,organic,15.640773,Свитеры и кардиганы,6074ad29ac,"Одежда, обувь и аксессуары"
1926,d942687638,organic,13.87554,Термобелье,6074ad29ac,"Одежда, обувь и аксессуары"
1927,976642886f,organic,9.204211,"Наклейки, шильдики и значки",65922fa39c,Авто
1928,075994491e,organic,4.606261,Гигиена полости рта,7dbac4c1a3,Детские товары
1929,total,organic,"""5687882""",NaN,NaN,NaN

## Сводные таблицы
<a id='pivot_table'></a>

 Pandas для подготовки сводных таблиц вызывают метод pivot_table().
Аргументы метода:
## index — столбец или столбцы, по которым группируют данные (название товара)
## columns — столбец, по значениям которого происходит группировка (даты)
## values — значения, по которым мы хотим увидеть сводную таблицу (количество проданного товара)
## aggfunc — функция, применяемая к значениям (сумма товаров)

In [62]:
data_pivot = data_final.pivot_table(index=['category_name','subcategory_name'],columns='source',values='visits',aggfunc='sum')

In [63]:
data_pivot

source                                        direct       organic
category_name subcategory_name
Авто          Автоакустика               5915.606541  15433.405558
              Автомагнитолы              7783.806626  18690.016622
              Автомобильные инверторы     145.925199    150.592871
              Автомобильные компрессоры   407.264303    790.164679
              Автомобильные телевизоры    975.978827   2246.595618
...                                              ...           ...
Электроника   Чехлы                      4582.490928  11758.626255
              Чехлы-аккумуляторы          219.497835    331.593190
              Штативы и моноподы         1152.649574   2540.285866
              Экшн-камеры                4757.007263  12376.961199
              Электронные книги          4515.013986  11364.344055

[934 rows x 2 columns]

In [64]:
data_pivot_with_reset_index = data_pivot.reset_index()
print(data_pivot_with_reset_index.head(10))

source category_name            subcategory_name       direct       organic
0               Авто                Автоакустика  5915.606541  15433.405558
1               Авто               Автомагнитолы  7783.806626  18690.016622
2               Авто     Автомобильные инверторы   145.925199    150.592871
3               Авто   Автомобильные компрессоры   407.264303    790.164679
4               Авто    Автомобильные телевизоры   975.978827   2246.595618
5               Авто  Автомобильные холодильники   204.631014    285.110834
6               Авто            Автосигнализации   494.025691   1026.092391
7               Авто      Аккумуляторные батареи  1175.227510   2657.217881
8               Авто                   Антифризы   736.588757   1568.277621
9               Авто         Багажники, рейлинги   342.372257    664.308906

In [65]:
data_pivot['ratio'] = data_pivot['organic']/data_pivot['direct']

In [66]:
data_pivot

source                                        direct       organic     ratio
category_name subcategory_name
Авто          Автоакустика               5915.606541  15433.405558  2.608930
              Автомагнитолы              7783.806626  18690.016622  2.401141
              Автомобильные инверторы     145.925199    150.592871  1.031987
              Автомобильные компрессоры   407.264303    790.164679  1.940177
              Автомобильные телевизоры    975.978827   2246.595618  2.301890
...                                              ...           ...       ...
Электроника   Чехлы                      4582.490928  11758.626255  2.565990
              Чехлы-аккумуляторы          219.497835    331.593190  1.510690
              Штативы и моноподы         1152.649574   2540.285866  2.203867
              Экшн-камеры                4757.007263  12376.961199  2.601838
              Электронные книги          4515.013986  11364.344055  2.517012

[934 rows x 3 columns]

In [67]:
print(data_pivot.loc[data_pivot['direct']>1000].sort_values(by='ratio',ascending=False))

source                                                       direct  \
category_name              subcategory_name
Авто                       Шины                        39638.202995
Бытовая техника            Стиральные машины           22064.436847
Спорт и отдых              Велосипеды                  16009.579071
Детские товары             Коляски                     18079.643217
Строительство и ремонт     Сварочные аппараты           6175.438323
...                                                             ...
Товары для здоровья        Бандажи и ортезы             1659.195233
Электроника                Защитные пленки и стекла     1560.395673
Строительство и ремонт     Нивелиры и лазерные уровни   1651.947395
Одежда, обувь и аксессуары Туфли                        1036.253838
                           Сапоги                       1009.586105

source                                                       organic     ratio
category_name              subcategory_name
Авто                       Шины                        153859.454228  3.881595
Бытовая техника            Стиральные машины            64570.606526  2.926456
Спорт и отдых              Велосипеды                   46087.870786  2.878768
Детские товары             Коляски                      52005.251013  2.876453
Строительство и ремонт     Сварочные аппараты           17325.802396  2.805599
...                                                              ...       ...
Товары для здоровья        Бандажи и ортезы              3453.165773  2.081229
Электроника                Защитные пленки и стекла      3246.629811  2.080645
Строительство и ремонт     Нивелиры и лазерные уровни    3436.972506  2.080558
Одежда, обувь и аксессуары Туфли                         2097.368209  2.023991
                           Сапоги                        2021.903456  2.002705

[266 rows x 3 columns]

In [68]:
df = pd.DataFrame({
    'name': ['Сырок Мечта', 'Молоко Отличное', 'Сырок Мечта', 'Сырок Дружба',\
             'Сырок Дружба', 'Молоко Вкусное'],
    'count': [120, 200, 125, 100, 35, 500]
})

print(df['name'].value_counts())

Сырок Мечта        2
Сырок Дружба       2
Молоко Отличное    1
Молоко Вкусное     1
Name: name, dtype: int64

In [69]:
df

              name  count
0      Сырок Мечта    120
1  Молоко Отличное    200
2      Сырок Мечта    125
3     Сырок Дружба    100
4     Сырок Дружба     35
5   Молоко Вкусное    500

In [70]:
df.groupby('name')['count'].sum()

name
Молоко Вкусное     500
Молоко Отличное    200
Сырок Дружба       135
Сырок Мечта        245
Name: count, dtype: int64

In [71]:
df['name'].duplicated()

0    False
1    False
2     True
3    False
4     True
5    False
Name: name, dtype: bool

In [72]:
mechta = df[df['name'] == 'Сырок Мечта']['count'].sum()
druzhba = df[df['name'] == 'Сырок Дружба']['count'].sum()

df = df.drop_duplicates(subset=['name'], keep='first')
print(df)
df = df.drop_duplicates(subset=['name'], keep='last')
print(df)

              name  count
0      Сырок Мечта    120
1  Молоко Отличное    200
3     Сырок Дружба    100
5   Молоко Вкусное    500
              name  count
0      Сырок Мечта    120
1  Молоко Отличное    200
3     Сырок Дружба    100
5   Молоко Вкусное    500

In [73]:
df = df.reset_index(drop=True)
print(df)

              name  count
0      Сырок Мечта    120
1  Молоко Отличное    200
2     Сырок Дружба    100
3   Молоко Вкусное    500

In [74]:
df.loc[0, 'count'] = mechta
df.loc[2, 'count'] = druzhba

print(df)

              name  count
0      Сырок Мечта    245
1  Молоко Отличное    200
2     Сырок Дружба    135
3   Молоко Вкусное    500

## Лаборатория ручного поиска дубликатов
<a id='dupl'></a>

In [75]:
stock = pd.read_excel('stock.xlsx',sheet_name='storehouse')

In [76]:
stock.head(10)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929     Смартфон Xiaomi Redmi 6A 16GB     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998          Смартфон HUAWEI P30 lite     33
8  100481008     Смартфон Xiaomi Redmi 6A 16GB      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

In [77]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   item    10 non-null     object
 2   count   10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [78]:
stock['item'].duplicated().sum()

3

In [79]:
stock['item'].value_counts()

Смартфон Xiaomi Redmi 6A 16GB       3
Смартфон HUAWEI P30 lite            2
Смартфон Samsung Galaxy A30 32GB    1
смартфон Samsung Galaxy A30 32gb    1
Смартфон Apple iPhone Xr 64gb       1
Смартфон Honor 8X 64GB              1
Смартфон Apple iPhone Xr 64GB       1
Name: item, dtype: int64

In [80]:
xiaomi = stock.loc[stock['item']=='Смартфон Xiaomi Redmi 6A 16GB']['count'].sum()

In [81]:
xiaomi

44

In [82]:
huawei = stock.loc[stock['item']=='Смартфон HUAWEI P30 lite']['count'].sum()

In [83]:
huawei

38

In [84]:
stock = stock.drop_duplicates(subset=['item'],keep='first')

In [85]:
stock = stock.reset_index(drop=True)

In [86]:
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

In [87]:
stock.loc[0,'count'] = xiaomi

In [88]:
stock.loc[3,'count'] = huawei

In [89]:
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

## Знакомство с данными
Важно уметь не только привлекать клиентов, но и удерживать их.
Вы уже анализировали поисковую выдачу товаров Яндекс.Маркета, сравнивали источники трафика и избавлялись от дубликатов в ассортименте — всё это направлено на улучшение маркетинга. Однако не менее важны усилия по поддержке пользователей.   
Вам передали статистику обращений в службу поддержки Яндекс.Маркета: id каждого пользователя с темой и временем обращения.
Ваша задача — настроить приоритизацию задач по каждому виду обращений. Сейчас непонятно, за решение каких проблем браться в первую очередь, а какие могут подождать. Такой формат загрузки службы поддержки не повышает качество сервиса.

In [90]:
support = pd.read_csv('support.csv')

In [91]:
support.head()

    user_id               Тип обращения  type_id      Время обращения
0  DNcd8dnS  Жалоба на товар в магазине        3  2019-03-28 13:58:24
1  0e9MvwGs               Мошенничество        5  2019-03-08 17:11:59
2  boyDUG4C               Мошенничество        5  2019-03-03 17:52:34
3  5jMA27s1  Жалоба на товар в магазине        3  2019-03-16 15:18:21
4  wvtyctOK            Накрутка отзывов        2  2019-03-13 14:43:14

In [92]:
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          3000 non-null   object
 1   Тип обращения    3000 non-null   object
 2   type_id          3000 non-null   int64
 3   Время обращения  3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

In [93]:
support = support.rename(columns={'Тип обращения':'type_message', 'Время обращения': 'timestamp'})
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       3000 non-null   object
 1   type_message  3000 non-null   object
 2   type_id       3000 non-null   int64
 3   timestamp     3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

## Декомпозиция таблиц
Типы обращений в поддержку хранятся в виде строк разной длины: 
0  DNcd8dnS   Жалоба на товар в магазине        3  2019-03-28 13:58:24
1  0e9MvwGs                Мошенничество        5  2019-03-08 17:11:59
2  boyDUG4C                Мошенничество        5  2019-03-03 17:52:34
3  5jMA27s1   Жалоба на товар в магазине        3  2019-03-16 15:18:21
4  wvtyctOK             Накрутка отзывов        2  2019-03-13 14:43:14
5  zvN8W1tc         Жалоба на видеообзор        8  2019-03-29 20:32:17
6  bBmybSbr             Не работает сайт        1  2019-04-08 21:37:15
7  5JX1P5G8  Продажа запрещенных товаров        6  2019-04-06 12:15:20
8  pbbG3xWx             Не работает сайт        1  2019-04-09 17:30:43
9  vZWtTovT   Жалоба на товар в магазине        3  2019-04-16 12:26:16 


К чему приводит такой способ хранения?
Усложняется визуальная работа с таблицей.
Увеличивается размер файла и время обработки данных.
Чтобы отфильтровать данные по типу обращения, приходится набирать его полное название. А в нём можно ошибиться.
Создание новых категорий и изменение старых отнимает много времени.


Предупредить появление этих проблем можно. Создадим отдельный «справочник», где названию категории будет соответствовать номер. И в будущих таблицах будем обращаться уже не к длинной строке, а к её числовому обозначению.

In [94]:
support_upd = pd.read_csv('support_upd.csv')

In [95]:
support_upd.head(10)

    user_id                 type_message  type_id            timestamp
0  DNcd8dnS   Жалоба на товар в магазине        3  2019-03-28 13:58:24
1  0e9MvwGs                Мошенничество        5  2019-03-08 17:11:59
2  boyDUG4C                Мошенничество        5  2019-03-03 17:52:34
3  5jMA27s1   Жалоба на товар в магазине        3  2019-03-16 15:18:21
4  wvtyctOK             Накрутка отзывов        2  2019-03-13 14:43:14
5  zvN8W1tc         Жалоба на видеообзор        8  2019-03-29 20:32:17
6  bBmybSbr             Не работает сайт        1  2019-04-08 21:37:15
7  5JX1P5G8  Продажа запрещенных товаров        6  2019-04-06 12:15:20
8  pbbG3xWx             Не работает сайт        1  2019-04-09 17:30:43
9  vZWtTovT   Жалоба на товар в магазине        3  2019-04-16 12:26:16

In [96]:
support_upd['type_message'].value_counts()

Жалоба на товар в магазине      606
Мошенничество                   586
Продажа поддельной продукции    312
Не работает сайт                311
Продажа запрещенных товаров     303
Накрутка отзывов                302
Жалоба на видеообзор            297
Отзыв удалён                    283
Name: type_message, dtype: int64

In [97]:
support_log = support_upd[['user_id', 'type_id', 'timestamp']]

In [98]:
support_log.head(10)

    user_id  type_id            timestamp
0  DNcd8dnS        3  2019-03-28 13:58:24
1  0e9MvwGs        5  2019-03-08 17:11:59
2  boyDUG4C        5  2019-03-03 17:52:34
3  5jMA27s1        3  2019-03-16 15:18:21
4  wvtyctOK        2  2019-03-13 14:43:14
5  zvN8W1tc        8  2019-03-29 20:32:17
6  bBmybSbr        1  2019-04-08 21:37:15
7  5JX1P5G8        6  2019-04-06 12:15:20
8  pbbG3xWx        1  2019-04-09 17:30:43
9  vZWtTovT        3  2019-04-16 12:26:16

In [99]:
support_dict = support_upd[['type_message', 'type_id']]

In [100]:
support_dict.head(10)

                  type_message  type_id
0   Жалоба на товар в магазине        3
1                Мошенничество        5
2                Мошенничество        5
3   Жалоба на товар в магазине        3
4             Накрутка отзывов        2
5         Жалоба на видеообзор        8
6             Не работает сайт        1
7  Продажа запрещенных товаров        6
8             Не работает сайт        1
9   Жалоба на товар в магазине        3

In [101]:
print(support_dict.drop_duplicates(subset = 'type_message', keep = 'first').reset_index(drop = True).sort_values(by = 'type_id'))

                   type_message  type_id
4              Не работает сайт        1
2              Накрутка отзывов        2
0    Жалоба на товар в магазине        3
6  Продажа поддельной продукции        4
1                 Мошенничество        5
5   Продажа запрещенных товаров        6
7                  Отзыв удалён        7
3          Жалоба на видеообзор        8

## Категоризация по числовым диапазонам
метод apply(): он берёт значения столбца датафрейма и применяет к ним функцию из своего аргумента. 
Здесь apply() следует вызвать для столбца AGE, так как в нём содержатся данные, которые функция примет на вход. Аргументом метода станет сама функция age_group.


clients['age_group'] = clients['age'].apply(age_group)

In [102]:
support_log = pd.read_csv('support_log.csv')

In [103]:
support_log.head(10)

   Unnamed: 0   user_id  type_id            timestamp
0           0  DNcd8dnS        3  2019-03-28 13:58:24
1           1  0e9MvwGs        5  2019-03-08 17:11:59
2           2  boyDUG4C        5  2019-03-03 17:52:34
3           3  5jMA27s1        3  2019-03-16 15:18:21
4           4  wvtyctOK        2  2019-03-13 14:43:14
5           5  zvN8W1tc        8  2019-03-29 20:32:17
6           6  bBmybSbr        1  2019-04-08 21:37:15
7           7  5JX1P5G8        6  2019-04-06 12:15:20
8           8  pbbG3xWx        1  2019-04-09 17:30:43
9           9  vZWtTovT        3  2019-04-16 12:26:16

In [113]:
support_log_grouped = support_log.groupby('type_id').count()

In [114]:
support_log_grouped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 1 to 8
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8 non-null      int64
 1   user_id     8 non-null      int64
 2   timestamp   8 non-null      int64
dtypes: int64(3)
memory usage: 256.0 bytes

In [115]:
def alert_group(messages):
    if messages<=300:
        return ('средний') 
    elif messages<=500:
        return ('высокий')
    else:
        return 'критичный'

In [116]:
print(alert_group(550))

критичный

In [118]:
support_log_grouped['alert_group'] = support_log_grouped['user_id'].apply(alert_group)

In [119]:
support_log_grouped

         Unnamed: 0  user_id  timestamp alert_group
type_id
1               311      311        311     высокий
2               302      302        302     высокий
3               606      606        606   критичный
4               312      312        312     высокий
5               586      586        586   критичный
6               303      303        303     высокий
7               283      283        283     средний
8               297      297        297     средний

In [120]:
support_log_grouped = pd.read_csv("support_log_grouped.csv")

In [121]:
support_log_grouped

   type_id  user_id  timestamp alert_group  importance
0        1      311        311     высокий           1
1        2      302        302     высокий           0
2        3      606        606   критичный           0
3        4      312        312     высокий           1
4        5      586        586   критичный           1
5        6      303        303     высокий           1
6        7      283        283     средний           1
7        8      297        297     средний           0

In [130]:
# Напишите функцию alert_group_importance(row), работающую в соответствии со следующей логикой: 
# Если приоритет 'alert_group' средний, а важность 'importance' оценена в единицу, возвращать команду для отдела поддержки: 'обратить внимание'; 
# Если приоритет высокий, а важность — единица, возвращать: 'высокий риск';
# Если приоритет критичный, а важность — единица, возвращать: 'блокер';
# Во всех остальных случаях выводить: 'в порядке очереди'. 
def alert_group_importance(row):
    if row['alert_group']=='средний' and row['importance']==1:
        return 'обратить внимание'
    elif row['alert_group']=='высокий' and row['importance']==1:
        return 'высокий риск'
    elif row['alert_group']=='высокий' and row['importance']==1:
        return 'высокий риск'
    elif row['alert_group']=='критичный' and row['importance']==1:
        return 'блокер'
    else:
        return 'в порядке очереди'

In [123]:
row_values = ['высокий', 1]
row_columns = ['alert_group', 'importance']
row = pd.Series(data=row_values, index=row_columns)
print(alert_group_importance(row))

высокий риск

 Функция работает корректно. Осталось создать новый столбец clients['age_group'] со  значениями-результатами работы функции age_group_unemployed(). Как и в прошлом уроке, вызовем метод apply(), однако с двумя важными отличиями от прошлого примера: 
 1) Метод apply() применяем не к столбцу clients['age'], а к датафрейму clients.
 2) По умолчанию Pandas передаёт в функцию age_group_unemployed() столбец. Чтобы на вход в функцию отправлялись строки, нужно указать параметр axis = 1 метода apply().

In [131]:
# Создайте новый столбец importance_status  и сохраните в нём результаты работы функции alert_group_importance()
support_log_grouped['importance_status'] = support_log_grouped.apply(alert_group_importance,axis=1)

In [129]:
support_log_grouped['importance_status'].value_counts()

высокий риск         3
в порядке очереди    3
блокер               1
обратить внимание    1
Name: importance_status, dtype: int64