In [2]:
import pandas as pd

In [4]:
metrica = pd.read_csv('metrica_data.csv')

In [5]:
metrica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      100000 non-null  int64
 1   device_type  100000 non-null  object
 2   age          94228 non-null   float64
 3   time         75411 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ MB

In [7]:
metrica['device_type'].unique()

array(['desktop', 'mobile'], dtype=object)

In [10]:
metrica.groupby('device_type').agg({'age':['mean','min','max','count']})

                   age
                  mean   min   max  count
device_type
desktop      32.497339  25.0  40.0  69524
mobile       32.468062  25.0  40.0  24704

In [30]:
metrica['age'] = metrica['age'].fillna(metrica['age'].mean())

In [31]:
metrica['age'].isna().sum()

0

In [32]:
metrica['age']

0        33.0
1        30.0
2        25.0
3        25.0
4        27.0
         ...
99995    26.0
99996    36.0
99997    28.0
99998    36.0
99999    25.0
Name: age, Length: 100000, dtype: float64

In [33]:
time_avg = metrica['time'].mean()

In [34]:
time_avg

1430.1294506106535

Выберите строки таблицы с данными о просмотрах с компьютера, т.е. такие, где в столбце 'device_type' указано значение 'desktop'. Сохраните результат в переменной desktop_data

In [38]:
desktop_data = metrica.loc[metrica['device_type']=='desktop']

In [39]:
desktop_data

          user_id device_type   age    time
0      7141786820     desktop  33.0  2127.0
2      1914055396     desktop  25.0     NaN
3      4099355752     desktop  25.0  2123.0
4      6032477554     desktop  27.0    59.0
7      3512872755     desktop  40.0    65.0
...           ...         ...   ...     ...
99992  7964851413     desktop  35.0  2095.0
99994  7751404712     desktop  40.0     NaN
99995  7823848431     desktop  26.0  2093.0
99998  8228213054     desktop  36.0  2096.0
99999    79268366     desktop  25.0  2137.0

[73764 rows x 4 columns]


Установите, сколько времени в среднем проводят на сайте пользователи компьютеров. Результат сохраните в переменной desktop_data_time_avg.

In [43]:
desktop_data_time_avg = desktop_data['time'].mean()
#metrica.loc[metrica['device_type']=='desktop']['time'].mean()

In [44]:
desktop_data_time_avg

1741.8747158537378

Получите таблицу с данными о просмотрах с мобильных платформ. Сохраните результат в переменной mobile_data

In [48]:
mobile_data = metrica.loc[metrica['device_type']=='mobile']

In [49]:
mobile_data

          user_id device_type        age  time
1      5644686960      mobile  30.000000  35.0
5      5872473344      mobile  27.000000   NaN
6      7977025176      mobile  32.489663   NaN
10     7172802697      mobile  30.000000   NaN
14     9312844109      mobile  32.489663  40.0
...           ...         ...        ...   ...
99988  5652872698      mobile  27.000000   NaN
99991  3373532849      mobile  28.000000  49.0
99993  8576390025      mobile  32.000000   NaN
99996  3586574436      mobile  36.000000  40.0
99997   859960707      mobile  28.000000  30.0

[26236 rows x 4 columns]

Посчитайте среднее время пребывания на сайте пользователей мобильных платформ. Результат сохраните в переменной mobile_data_time_avg.

In [50]:
mobile_data_time_avg = metrica.loc[metrica['device_type']=='mobile']['time'].mean()

In [51]:
mobile_data_time_avg

41.15691239238949

In [52]:
# перебираем каждый тип девайса в наборе уникальных значений столба device_type
for d in metrica['device_type'].unique():
    # на каждом шаге цикла с помощью атрибута loc выбираем строки,
    # в которых в device_type текущий тип девайса (d) и есть пропуски в time 
    metrica.loc[(metrica['device_type'] == d) & (metrica['time'].isna()), 'time'] = \
    metrica.loc[(metrica['device_type'] == d), 'time'].mean()
    # и записываем в них среднее значение time среди строк с текущим типом девайса (d)

# проверяем, что все пропуски заполнены
print(metrica['time'].isna().sum())

0